.badgeStyle {
  margin: 0 2px;
}

.ant-modal {
  .ant-modal-header {
    margin: 0;
  }

  .ant-modal-title {
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
  }
  .ant-modal-footer {
    text-align: center;
  }
}

.imgStyle {
  height: 30vh;
  border-radius: 10px;
}

.topContainer{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 10px 0;
}

.orgContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.midContainer {
  padding-bottom: 10px;
}

.badgeRow {
  margin-bottom: 10px;
}

@media screen and (max-width: 820px) {
  .topContainer{
    flex-direction: column;
  }
}
