.navBar {
    width: 100%;
    height: 12vh;
    background-color: #6a7775;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 65vw;
    z-index: 1;
  }
  
  .grouping {
    display: flex;
    flex-direction: row;
    font-size: larger;
  }
  
  .content {
    padding-left: 90px;
    color: white;
  }
  
  .logo {
    font-size: 3vh;
    color: white;
  }
  
  .leavesImage {
    width: 2vh;
    height: 2vh;
  }
  
  .menuIcon {
    display: none;
    cursor: pointer;
  }

  .textStyle {
    font-size: larger;
    color: white;
  }
  
  @media screen and (max-width: 768px) {
    .navBar {
      justify-content: space-evenly;
    }
  
    .menuIcon {
      display: block;
    }
  
    .container {
      display: none;
    }
  
    .container.active {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 12vh;
      right: 0vw;
      background-color: #6a7775;
      width: 30%;
      text-align: center;
      border-radius: 10px;
    }
  
    .grouping {
      flex-direction: column;
      justify-content: center;
      margin-top: 20px;
      font-size: medium;
    }

    .textStyle {
      font-size: medium;
    }
  
    .content {
      padding: 0;
      padding-bottom: 15px;
    }
  }
  